.catastrophe-card {
    padding: 1rem;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    background-color: var(--surface-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.catastrophe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.catastrophe-title {
    font-size: 16px;
    margin-bottom: 4px;
}

.catastrophe-description {
    font-size: 14px;
    color: var(--placeholder-color);
}

.catastrophe-date {
    position: absolute;
    right: 15px;
    font-size: 0.8em;
    color: var(--placeholder-color);
    font-style: italic;
}

vaadin-context-menu-overlay::part(overlay){
    background-color: var(--background-color);
}

.emergency-low-text { color: #4CAF50; }
.emergency-medium-text { color: #FFC107; }
.emergency-high-text { color: #FF5722; }
.emergency-very-high-text {
    color: #F44336;
    font-weight: bold;
}

.emergency-low {
    border-left: 4px solid #4CAF50;
}

.emergency-medium {
    border-left: 4px solid #FFC107;
}

.emergency-high {
    border-left: 4px solid #FF5722;
}

.emergency-very-high {
    border-left: 4px solid #F44336;
    animation: blinking-border 1.5s infinite;
}

/* Animaciones */
@keyframes blinking-border {
    0% {
        border-left: 4px solid #F44336;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
    50% {
        border-left: 8px solid #F44336;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(244, 67, 54, 0.5);
    }
    100% {
        border-left: 4px solid #F44336;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
}