.previewContainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.addTaskForm{
    padding: 0 50px;
}

.needContent{
    gap: 6px;
}

.needContent--description{
    font-size: 1.1em;
}

.needContent--type{
    background-color: #DADFE4;
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    font-size: 0.8em;
}

.needsDialog__infoText{
    font-style: italic;
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    margin-bottom: 10px;
}