.moreTasks_Container{
    display: flex;
    height: 100vh;
}

.moreTasks_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    flex-grow: 1;
}

.search-button{
    background-color: blue;
    color: #fff;
    cursor: pointer;

}
.search-button:hover {
    background-color: #0056b3;
}

.back-button{
    background-color: blue;
    color: #fff;
    cursor: pointer;

}
.back-button:hover {
    background-color: #0056b3;
}