.moreTasks_Container{
    display: flex;
    height: 100%;
    background-color: var(--background-color);
}

.moreTasks_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    flex-grow: 1;
}

