/* Contenedor principal */
.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--section-spacing);
    background-color: var(--background-color);
    min-height: 100vh;
}

.task-title {
    color: #424242;
    font-size: 2rem;
    text-align: center;
}

.tasksLists__layout {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.task-section {
    flex: 1;
    background-color: white;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    min-width: 280px;
    max-width: 450px;
}

.section-title {
    margin-top: 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #e0e0e0;
    color: #424242;
    text-align: center;
}

.task-list__container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.more-tasks-button{
    background-color: blue;
    color: #fff;
    cursor: pointer;

}
.more-tasks-button:hover {
    background-color: #0056b3;
}

.add-task-button{
    position: sticky;
    bottom: 20px;
    left: 20px;
    background-color: blue;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.add-task-button:hover {
    background-color: #0056b3;
}

.suggested-tasks__icon{
    width: 44px;
    height: 44px;
    color: blue;
}

.suggested-tasks__button{
    align-self: end;
    margin-left: auto;
    background: transparent;
}

.suggested-tasks:hover{
    background: transparent;
    .suggested-tasks__icon{
        color: #0056b3;
    }
}

.tasks-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 6rem;
    width: 100%;
}

.v-dragged {
    opacity: 0.6;
    transform: scale(0.95);
}

.v-drag-over-target {
    background-color: var(--lumo-contrast-10pct);
}

/* Responsive design */
@media (max-width: 768px) {
    .tasks-lists {
        flex-direction: column;
        align-items: center;
    }
}