/* Tarjetas de tareas */
.task-card {
    background-color: #f0f0f0;
    border-radius: 24px ;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: var(--card-shadow);
    border-left: 6px solid var(--default-priority);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task-card.high {
    border-left-color: var(--high-priority);
}

.task-card.medium {
    border-left-color: var(--medium-priority);
}

.task-card.low {
    border-left-color: var(--low-priority);
}

/* Información de la tarea */
.task-card .task-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #212121;
}

.task-card .task-date {
    font-size: 0.9rem;
    color: #757575;
}

/* Icono de la tarea */
.task-card img {
    width: 50px;
    height: 50px;
}

/* Configuración de la tarea */
.task-card .settings {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.edit-button {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 0.5rem 1rem; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

.edit-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
.task-icon {
    width: 4px; /* Ajusta el tamaño según sea necesario */
    height: 4px; /* Mantiene la proporción original */
    object-fit: contain; /* Evita que se deformen */
    display: block;
    max-width: 100%; /* Limita el tamaño máximo */
    max-height: 100%;
}

