.header{
    display: flex;
    width: 100%;
}

.back-button{
    background-color: blue;
    color: #fff;
    cursor: pointer;

}
.back-button:hover {
    background-color: #0056b3;
}

.title{
    display: inline-block;
    justify-self: auto;
}

.previewContainer{
    display: flex;
    flex-direction: column;
}