@import url('./main-layout.css');
@import url('task/taskView.css');
@import url('task/moreTasks.css');
@import url('task/addTaskView.css');
@import url('task/taskComponent.css');
@import url('catastrophe/catastropheComponent.css');
@import url('catastrophe/addCatastrophe.css');
@import url('catastrophe/catastropheSelectionView.css');

:root {
    --background-color: #f5f5f5;
    --card-border-radius: 24px;
    --section-spacing: 1.5rem;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    --high-priority: #ff5252;
    --medium-priority: #ffab40;
    --low-priority: #69f0ae;
    --default-priority: #e0e0e0;
}

vaadin-button{
    cursor: pointer;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.back-button{
    justify-self: start;
    background-color: blue;
    color: #fff;
}

.back-button:hover {
    background-color: #0056b3;
}

.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #424242;
    font-size: 2rem;
    text-align: center;
}

.suggested-tasks-layout {
    max-width: 80%;
    margin: 1rem 0
}

.suggested-tasks-buttons{
    width: unset;
    margin-left: auto;
}

.suggested-task{
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: var(--card-border-radius);
    background-color: var(--background-color);
    box-shadow: var(--card-shadow);
}
